.wrapperViews {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 8px;
}

.BIG {
  .views {
    margin-left: auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .data {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    margin: 16px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
}

.SMALL {
  width: 230px;
  transition: 0.2s;
  cursor: pointer;

  .card {
    width: 230px;
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .data {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .data {
      display: block;
    }
  }

  .infoWrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

  .types p {
    width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .view {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
