.InputWrapper {
  display: flex;
  font: var(--font-m);
}

.placeholder {
  margin-left: 5px;
  color: var(--primary-color);
}

.input {
  background-color: transparent !important;
  outline: none;
  border: none;
  width: 100%;
  color: transparent !important;
  text-shadow: 0 0 0  var(--primary-color);
  font: var(--font-m);

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  height: 2px;
  width: 10px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: blink 0.7s forwards infinite;
}

.readonly {
  opacity: 0.7;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
